[% INCLUDE header.tmpl
  title = 'FIXME'
%]
[% IF album %]
    <h1>[% album.title %]</h1>
    <h2>Artist: <a href="artist.pl?arid=[% album.artist_id %]">[% album.artist_name %]</a></h2>
    <h3>Type: [% album.type %]</h3>
    <h3>Released: [% album.released %]</h3>
    <h3>MusicBrainz Album ID: <a href="http://musicbrainz.org/release/[% album.mbid %].html">[% album.mbid %]</a></h3>
    <h3>Custom artist: <input type="text" value="[% album.custom_artist_name %]" /></h3>
    [% IF tracks.size > 0 %]
    <h2>Tracks:</h2>
    <ol>
    [% FOREACH track IN tracks %]
      <li><a href="track.pl?trid=[% track.track_id %]">[% track.artist_name %] - [% track.album_title %] - [% track.tracknumber %] - [% track.title %] ([% track.duration %] ms)</a>
      [% IF track.files.size > 0 %]
        <ol>
        [% FOREACH file IN track.files %]
          <li>
            <span style="color:#[% file.color %];">[% file.meta_score %]</span> <a href="file.pl?fiid=[% file.file_file_id %]">[% file.file_filename %]</a><br />
            [% file.file_artist %] - [% file.file_album %] - [% file.file_tracknumber %] - [% file.file_title %] ([% file.file_duration %] ms)
          </li>
        [% END %]
        </ol>
      [% END %]
      </li>
    [% END %]
    </ol>
  [% END %]
[% END %]
[% INCLUDE footer.tmpl %]
