[% INCLUDE header.tmpl
  title = 'Album matching'
%]
    <form action="" method="get" id="search">
      <p>
        <label for="filter">Filter</label>
        <input type="text" name="filter" id="filter" />
      </p>
    </form>
    <h2>Album Matching</h2>
[% IF albums.size() > 0 %]
    <table>
      <tr>
        <th rowspan="2">Album</th>
        <th colspan="3">Tracks</th>
        <th colspan="3">Files</th>
        <th colspan="3">File scores</th>
      </tr>
      <tr>
        <th>Count</th>
        <th>Matched</th>
        <th>Compared</th>
        <th>Matched</th>
        <th>Compared</th>
        <th>MBID</th>
        <th>Max</th>
        <th>Min</th>
        <th>Average</th>
      </tr>
    [% FOREACH album IN albums %]
      <tr>
        <td><a href="album.pl?alid=[% album.album_id %]">[% album.album %]</a></td>
        <td>[% album.tracks %]</td>
        <td>[% album.tracks_matched %]</td>
        <td>[% album.tracks_compared %]</td>
        <td>[% album.files_matched %]</td>
        <td>[% album.files_compared %]</td>
        <td>[% album.mbids_matched %]</td>
        <td style="background: #[% album.max_color %];">[% album.max_score %]</td>
        <td style="background: #[% album.min_color %];">[% album.min_score %]</td>
        <td style="background: #[% album.avg_color %];">[% album.avg_score %]</td>
      </tr>
  [% END %]
    </table>
[% END %]
[% INCLUDE footer.tmpl %]
