[% INCLUDE header.tmpl
  title = 'Artists'
%]
    <form action="" method="get" id="search">
      <p>
        <label for="filter">Filter...</label>
        <input type="text" name="filter" id="filter" />
      </p>
    </form>
    <h2>Artists</h2>
[% IF artists.size() > 0 %]
    <ul>
  [% FOREACH artist IN artists %]
      <li><a href="artist.pl?arid=[% artist.artist_id %]">[% artist.name %], [% artist.albums %] album[% IF artist.albums != 1 %]s[% END %]</a></li>
  [% END %]
    </ul>
[% END %]
[% INCLUDE footer.tmpl %]
