[% INCLUDE header.tmpl
  title = 'FIXME'
%]
[% IF file %]
    <h1>[% file.filename %]</h1>
    <h3>Duration: [% file.duration %]ms</h3>
    <h3>Bitrate: [% file.bitrate %]kbps</h3>
    <h3>Channels: [% file.channels %]</h3>
    <h3>Samplerate: [% file.samplerate %]hz</h3>
  [% IF matches %]
    <h2>Matching tracks:</h2>
    <ol>
    [% FOREACH match IN matches %]
      <li>[% match.meta_score %] [% IF match.track_id %]<a href="track.pl?trid=[% match.track_id %]">[% match.metatrack_track_title %]</a>[% ELSE %][% match.metatrack_track_title %] (album not loaded)[% END %]</li>
    [% END %]
    </ol>
  [% END %]
[% END %]
[% INCLUDE footer.tmpl %]
