[% INCLUDE header.tmpl
  title = 'FIXME'
%]
[% IF file %]
    <h1>[% file.filename %]</h1>
    <h3>Duration: [% file.duration %]ms</h3>
    <h3>Bitrate: [% file.bitrate %]kbps</h3>
    <h3>Channels: [% file.channels %]</h3>
    <h3>Samplerate: [% file.samplerate %]hz</h3>
    <h2>Metadata:</h2>
    <form action="file.pl?fiid=[% file.file_id %]" method="post">
      <table>
        <tr>
          <th>Artist</th>
          <td><input type="text" name="artist" value="[% FILTER html %][% file.artist %][% END %]" /></td>
        </tr>
        <tr>
          <th>Album</th>
          <td><input type="text" name="album" value="[% FILTER html %][% file.album %][% END %]" /></td>
        </tr>
        <tr>
          <th>Albumartist</th>
          <td><input type="text" name="albumartist" value="[% FILTER html %][% file.albumartist %][% END %]" /></td>
        </tr>
        <tr>
          <th>Title</th>
          <td><input type="text" name="title" value="[% FILTER html %][% file.title %][% END %]" /></td>
        </tr>
        <tr>
          <th>Tracknumber</th>
          <td><input type="text" name="tracknumber" value="[% FILTER html %][% file.tracknumber %][% END %]" /></td>
        </tr>
        <tr>
          <th>Musicbrainz album ID</th>
          <td><input type="text" name="musicbrainz_albumid" value="[% FILTER html %][% file.musicbrainz_albumid %][% END %]" /></td>
        </tr>
        <tr>
          <th>Musicbrainz track ID</th>
          <td><input type="text" name="musicbrainz_trackid" value="[% FILTER html %][% file.musicbrainz_trackid %][% END %]" /></td>
        </tr>
      </table>
      <div><input type="hidden" name="fiid" value="[% file.file_id %]" /></div>
      <p><input type="submit" name="save_metadata" value="Save metadata" /></p>
  [% IF matches.size() > 0 %]
      <h2>Matching tracks:</h2>
      <table>
        <tr>
          <th>Score</th>
          <th>[% FILTER html %][% file.tracknumber %][% END %]</th>
          <th>[% FILTER html %][% file.albumartist %][% END %]</th>
          <th>[% FILTER html %][% file.album %][% END %]</th>
          <th>[% FILTER html %][% file.artist %][% END %]</th>
          <th>[% FILTER html %][% file.title %][% END %]</th>
          <th>[% file.duration %]</th>
        </tr>
    [% FOREACH match IN matches %]
        <tr>
          <td style="background: #[% match.color %];">[% match.score %]</td>
          <td>[% match.tracknumber %]</td>
          <td><a href="artist.pl?arid=[% match.albumartist_id %]">[% FILTER html %][% match.albumartist %][% END %]</a></td>
          <td><a href="album.pl?alid=[% match.album_id %]">[% FILTER html %][% match.album %][% END %]</a></td>
          <td><a href="artist.pl?arid=[% match.artist_id %]">[% FILTER html %][% match.artist %][% END %]</a></td>
          <td><a href="track.pl?trid=[% match.track_id %]">[% FILTER html %][% match.title %][% END %]</a></td>
          <td>[% match.duration %]</td>
        </tr>
    [% END %]
      </table>
  [% END %]
    </form>
[% END %]
[% INCLUDE footer.tmpl %]
