<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no">
  <head>
    <title>[% title %] - Locutus</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="header">
      <h4>Studentersamfundet</h4>
    </div>
    <ul id="settings" class="list">
      <li><a href="statistics.pl">Statistics</a></li>
      <li><a href="settings.pl">Settings</a></li>
    </ul>
    <ul id="menu" class="list">
      <li><a href="artists.pl">Artists</a></li>
      <li><a href="albums.pl">Albums</a></li>
      <li><a href="tracks.pl">Tracks</a></li>
      <li>space?</li>
      <li><a href="album_matching.pl">Album matching</a></li>
      <li><a href="files.pl">Files</a></li>
    </ul>

    <div id="content">
