<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="no">
  <head>
    <title>[% title %] - Locutus</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="header">Stud enter, Sam fund ET</div>
    <div class="box"><a href="statistics.pl">Statistics</a></div>
    <div class="box"><a href="albums.pl">Albums</a></div>
    <div class="box"><a href="files.pl">Files</a></div>
    <div class="box"><a href="settings.pl">Settings</a></div>
