[% INCLUDE header.tmpl
  title = 'Matching'
%]
    <form action="" method="get" id="search">
      <p>
        <label for="filter">Filter</label>
        <input type="text" name="filter" id="filter" />
      </p>
    </form>
    <h2>Matching</h2>
[% IF albums.size() > 0 %]
    <table>
      <tr>
        <th rowspan="2">Album</th>
        <th rowspan="2">Tracks</th>
        <th rowspan="2">MBID matches</th>
        <th colspan="3">Track scores</th>
      </tr>
      <tr>
        <th>Max</th>
        <th>Average</th>
        <th>Min</th>
      </tr>
    [% FOREACH album IN albums %]
      <tr>
        <td><a href="album.pl?alid=[% album.album_id %]">[% album.album %]</a></td>
        <td>[% album.tracks %]</td>
        <td>[% album.mbid_matches %]</td>
        <td style="background: #[% album.max_track_color %];">[% album.max_track_score %]</td>
        <td style="background: #[% album.avg_track_color %];">[% album.avg_track_score %]</td>
        <td style="background: #[% album.min_track_color %];">[% album.min_track_score %]</td>
      </tr>
  [% END %]
    </table>
[% END %]
[% INCLUDE footer.tmpl %]
