[% INCLUDE header.tmpl
  title = 'Settings'
%]
    <h1>Settings</h1>
    <table>
[% FOREACH setting IN settings %]
      <tr>
        <th colspan="2">[% setting.key %]</th>
      </tr>
      <tr>
        <th>Default</th>
        <td>[% setting.default_value %]</td>
      </tr>
      <tr>
        <th>Value</th>
        <td><input type="text" value="[% setting.value %]" /></td>
      </tr>
      <tr>
        <td colspan="2">[% setting.description %]</td>
      </tr>
[% END %]
    </table>
[% INCLUDE footer.tmpl %]
