[% INCLUDE header.tmpl
  title = 'Main'
%]
    <div id="content">
      <h1>Locutus - statistics</h1>
      <p>There are x files. Total playlength is really long. Lots of albums &amp; stuff, etc</p>
    </div>
[% INCLUDE footer.tmpl %]
