[% INCLUDE header.tmpl
  title = 'Tracks'
%]
    <form action="" method="get" id="search">
      <p>
        <label for="filter">Filter</label>
        <input type="text" name="filter" id="filter" />
      </p>
    </form>
    <h2>Tracks</h2>
[% IF tracks.size() > 0 %]
    <ul>
  [% FOREACH track IN tracks %]
      <li><a href="track.pl?trid=[% track.track_id %]">[% FILTER html %][% track.title %], [% track.artist_name %] - [% track.album_title %][% END %]</a></li>
  [% END %]
    </ul>
[% END %]
[% INCLUDE pagination.tmpl %]
[% INCLUDE footer.tmpl %]
