[% INCLUDE header.tmpl
  title = 'Tracks'
%]
    <p>
      <input type="text" value="filter tracks here" />
    </p>
[% IF tracks %]
    <ul>
  [% FOREACH track IN tracks %]
      <li><a href="track.pl?trid=[% track.track_id %]">[% track.title %], [% track.artist_name %] - [% track.album_title %]</a></li>
  [% END %]
    </ul>
[% END %]
[% INCLUDE footer.tmpl %]
