[% INCLUDE header.tmpl
  title = 'Uncompared files'
%]
    <form action="" method="get" id="search">
      <p>
        <label for="filter">Search</label>
        <input type="text" id="filter" name="filter" />
      </p>
    </form>
    <h2>Uncompared files</h2>
    <p>This page lists files that aren't matched to any data retrieved from MusicBrainz. Usually this means that the metadata is so poor that Locutus is unable to find a match, or it may be that the track doesn't exist in MusicBrainz.</p>
[% IF files.size() > 0 %]
    <ul>
  [% FOREACH file IN files %]
      <li><a href="file.pl?fiid=[% file.file_id %]">[% FILTER html %][% file.filename %][% END %]</a></li>
  [% END %]
    </ul>
[% END %]
[% INCLUDE pagination.tmpl %]
[% INCLUDE footer.tmpl %]
